@media all and (max-width:630px) {
  header .main-menu {
    display: none;
  }
  .headerBg .swiper-container .swiper-wrapper .slide1{
    background-image:url(../img/mainVisual/menu_img_woman.png);
  }
  .headerBg .swiper-container .swiper-wrapper .slide2{
    background-image:url(../img/mainVisual/menu_img_man.png);
  }
  .headerBg .swiper-container .swiper-wrapper .slide3{
    background-image:url(../img/mainVisual/menu_img_kids.png);
  }
  .headerBg .swiper-container .swiper-wrapper .slide4{
    background-image:url(../img/mainVisual/menu_img_gift.png);
  }
  .headerBg .swiper-container .swiper-wrapper .slide5{
    background-image:url(../img/mainVisual/menu_img_collection.png);
  }
  .headerBg .swiper-container .swiper-wrapper .slide6{
    background-image:url(../img/mainVisual/menu_img_musinsa.png);
  }




}